{% extends "base.html" %}

{% block content %}
	<h1>Sign In</h1>
	<form action="" method="psot" novalidate="">
		{{ form.hidden_tag() }}
		<!-- The form.hidden_tag() template argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks -->
		<p>
			{{ form.username.label }} 
			<br>
			{{ form.username(size=32) }}
		</p>
		<p>
			{{ form.password.label }}
			<br>
			{{ form.password(size=32) }}
		</p>
		<p>
			{{ form.remeber_me() }}
			{{ form.remeber_me.label }}
		</p>
		<p> {{ form.submit() }}</p>
	</form>

{% endblock %}